@media (max-width: 780px) {
  .nft-preview {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 0 auto;
    width: auto;
  }

  .nft-component {
    width: 100%;
    border-radius: 50px;
    background-color: hsl(0, 0%, 20%);
    height: 780px !important;
    
}

  .nft-image {
    height: 200px;
  }

  .nft-details {
    padding: 16px;
    text-align: center;
    font-size: 0.875rem;
    padding-top: -0 !important;
  }

  .nft-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .nft-description {
    font-size: 1rem;
    margin-bottom: 12px;
    line-height: 1.5;
    
  }

  .eth-info,
  .clock-info {
    flex-direction: column;
    align-items: center;
    
  }

  .nft-preview-image {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .nft-creator {
    font-size: 0.875rem;
    color: hsl(0, 0%, 70%);
    padding: 0 10px;
  }
    .nft-price {
        font-size: 1rem;
        margin-top: 10px;
    }
    .nft-time {
        font-size: 1rem;
        margin-top: 10px;
    }
    
}