<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="./css/responsive.css">

    <title>Document</title>
  </head>
  <body>
    <section class="nft-preview">
      <div class="nft-component">
        <div class="nft-image">
          
        </div>

        <div class="nft-details">
          <h2 class="nft-title">Equilibrium #3729</h2>
          <p class="nft-description">
            Our Equilibrium collection promotes balance  and calm.
          </p>
          <div class="linha">
            <div class="eth-info">
              <img src="./img/icon-ethereum.svg" class="icon" alt="Ethereum" />
              <span class="nft-price">0.041 ETH</span>
            </div>

            <div class="clock-info">
              <img src="./img/icon-clock.svg" class="icon" alt="Clock" />
              <span class="nft-time">3 days left</span>
            </div>
          </div>
          <hr />
          <div class="nft-preview-image">  
            <img
            src="./img/image-avatar.png"
            alt="NFT Preview"
            />
            <span class="nft-creator"
            >Creation of <a href="#">Jules Wyvern</a></span
            >
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
